<section class="section section-lg section-nucleo-icons pb-250" id="canales">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Nuestros Canales</h2>
        <p class="lead">
          Contamos con más de 20 canales de reclutamiento para encontrar al talento que tu empresa necesita.
        </p>
      </div>
    </div>
    <div class="blur--hover">
      <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/icons?ref=adsa-nucleo-section">
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
          <i class="icon ni ni-diamond" style="font-size: 3rem; color: #ff4c2b;"></i>
          <!-- Right 1 -->
          <i class="icon bi bi-facebook" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-instagram" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-youtube" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <!-- Right 2 -->
          <i class="icon bi bi-telegram" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-whatsapp" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-twitter" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <!-- Left 1 -->
          <i class="icon bi bi-linkedin" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-tv" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-mortarboard" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <!-- Left 2 -->
          <i class="icon bi bi-envelope" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-meta" style="font-size: 2.4rem; color: #FF2C2C;"></i>
          <i class="icon bi bi-messenger" style="font-size: 2.4rem; color: #FF2C2C;"></i>
        </div>
        <span class="blur-hidden h5 text-success">¡Todos estos y muchos más canales de reclutamiento!</span>
      </a>
    </div>
  </div>
</section>
