<section class="section section-shaped bg-danger">
  <div class="shape shape-style-1 shape-primary">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Más de 20 canales de atracción</h1>
        <p class="lead text-white mt-4">Contamos con más de 20 canales de reclutamiento para encontrar al talento que tu empresa necesita.</p>
        <a href="#canales" class="btn btn-white mt-4">Ver canales</a>
      </div>
      <div class="col-lg-6">
        <img src="./assets/img/brand/marketing.png" alt="" style="width: 430px; height: 424px;">           
      </div>  

     
    </div>
  </div>  
  <!-- SVG separator -->
  <div class="separator separator-bottom separator-skew">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-secondary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</section>