<section class="section section-lg pt-lg-0 ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">      
        <h1 class="text-center m-5 font-weight-bold">Nuestros servicios</h1>
        <p class="text-center m-5">Innovamos  tus procesos de selección con nuestra plataforma, ahora lo puedes hacer digital para garantizar una mayor eficiencia en tu compañía, con estos servicios:</p>
        <div class="row row-grid">            
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <img src="./assets/img/brand/servicio1.png" class="img-center img-fluid shadow shadow-lg--hover" style="width: 250px; margin-top: 25px;">                  
              <div class="card-body py-5">                                  
                <h6 class="text-primary text-uppercase">OK EMPLEOS</h6>
                <p class="description mt-3">Herramienta de perfilamiento y selección en línea.</p>
                <div>
                  <span class="badge badge-pill badge-primary">candidatos</span>
                  <span class="badge badge-pill badge-primary">empresas</span>                  
                </div>
                <a href="https://okempleos.com/empresas/" target="blank" class="btn btn-primary mt-4">Registrarme</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <img src="./assets/img/brand/servicio2.png" class="img-center img-fluid shadow shadow-lg--hover" style="width: 250px; margin-top: 25px;">                  
              <div class="card-body py-5">
                <h6 class="text-success text-uppercase">OUTSOURCING</h6>
                <p class="description mt-3">Servicios para la atracción y selección del mejor talento humano para tu compañía.</p>
                <div>
                  <span class="badge badge-pill badge-success">reclutamiento</span>
                  <span class="badge badge-pill badge-success">empresa</span>
                  <span class="badge badge-pill badge-success">outsourcing</span>
                </div>
                <a href="https://corporativo.gesth.co/outsourcing/" target="blank" class="btn btn-success mt-4">Saber más</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <img src="./assets/img/brand/servicio4.png" class="img-center img-fluid shadow shadow-lg--hover" style="width: 250px; margin-top: 25px;">                  
              <div class="card-body py-5">                 
                <h6 class="text-warning text-uppercase">RECLUTAMIENTO</h6>
                <p class="description mt-3">Encontramos el personal idóneo a nivel operativo, aseo, táctico y estratégico acorde a tus requerimientos y tiempos establecidos.</p>
                <div>
                  <span class="badge badge-pill badge-warning">outsourcing</span>
                  <span class="badge badge-pill badge-warning">empresarial</span>                  
                </div>
                <a href="https://citylending.gesth.co/login/" target="blank" class="btn btn-warning mt-4">Saber más</a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-lift--hover shadow border-0">
              <img src="./assets/img/brand/servicio3.png" class="img-center img-fluid shadow shadow-lg--hover" style="width: 250px; margin-top: 25px;">                  
              <div class="card-body py-5">                 
                <h6 class="text-danger text-uppercase">ASESORÍA LABORAL</h6>
                <p class="description mt-3">Entrenamiento personalizado con expertos de selección para que consigas tu trabajo deseado y crecimiento profesional. </p>
                <div>
                  <span class="badge badge-pill badge-danger">marketing</span>
                  <span class="badge badge-pill badge-danger">outsourcing</span>
                  <span class="badge badge-pill badge-danger">reclutamiento</span>
                </div>
                <a href="https://okempleos.com/asesoria/" target="blank" class="btn btn-danger mt-4">Saber más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- SVG separator -->
       <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
</section>
