<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/logo_movil.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Nuestros Servicios</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" href="https://gesth.co/outsourcing/" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Selección</h6>
                  <p class="description d-none d-md-inline-block mb-0">Facilitamos el contacto óptimo con profesionales idóneos a tus requerimientos y necesidades empresariales.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="https://gesth.co/okempleos/" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Ok Empleos</h6>
                  <p class="description d-none d-md-inline-block mb-0">Robusta plataforma web para la consecución de candidatos en un proceso de selección.</p>
                </div>
              </a>
              <a routerLinkActive="active" href="https://citylending.gesth.co/login/" target="blank" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Gesth 360</h5>
                  <p class="description d-none d-md-inline-block mb-0">Optimiza de manera digital tus procesos de selección en nuestra plataforma.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="https://espacioseguro.co/" target="blank" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Outsourcing de Aseo</span>
          </a>       
        </li>
        <li class="nav-item dropdown">
          <a href="https://gesth.co/gestion-digital/" class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Agencia Digital</span>
          </a>
        </li>      
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Ok Empleos</span>
          </a>
          <div class="dropdown-menu">
            <a href="https://okempleos.com/eventos/" target="blank" class="dropdown-item">Eventos</a>
            <a href="https://okempleos.com/blog/" target="blank" class="dropdown-item">Conócenos</a>            
            <a href="https://okempleos.com/" target="blank" class="dropdown-item">Registrar HV</a>
          </div>
        </li>   
      </ul>

      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="https://citylending.gesth.co/login/" target="_blank" class="btn btn-neutral btn-icon">           
            <span class="nav-link-inner--text">GESTH 360</span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
