  <!-- Sección de carrusel -->
  <section class="section section-shaped">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 mb-4">
        <h2 class="display-3">Clientes que confian en nosotros</h2>        
      </div>
    </div>
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="./assets/img/logos/1.jpg" height="80" width="200" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/2.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/3.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/4.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/7.jpg" height="80" width="200" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/5.svg" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/6.png" height="80" width="200" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/8.png" height="80" width="200" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/9.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/10.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/11.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/12.png" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/13.jpg" height="80" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/Componente131.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/Componente133.png" height="100" width="250" alt="" />
        </div>
        <div class="slide">
          <img src="./assets/img/logos/Componente143.png" height="100" width="250" alt="" />
        </div>
      </div>
    </div>
  </section>